<section class="h-[95vh] w-[67.2vw] self-start justify-self-start">
  <header
    class="h-14 bg-[#f0f2f5] flex justify-between items-center cursor-pointer"
  >
    <div class="ms-4 left flex justify-center items-center gap-4">
      <img
        class="h-11 w-11 rounded-full"
        src="../../../assets/{{ contact.url }}"
        alt=""
      />
      <p>{{ contact.contactName }}</p>
    </div>
    <div class="right flex justify-center items-center gap-3 mr-5">
      <button
        class="h-5 w-16 border border-gray-400 px-8 py-4 flex justify-around text-gray-400 items-center rounded-3xl"
      >
        <span class="material-symbols-outlined mt-1 ml-5 align-bottom">
          videocam
        </span>
        <span class="material-symbols-outlined mt-1 ml-2 align-bottom mr-5">
          expand_more
        </span>
      </button>
      <span
        class="material-symbols-outlined mt-1 ml-2 align-bottom text-gray-500"
      >
        search
      </span>
      <span>
        <svg
          viewBox="0 0 24 24"
          class="cursor-pointer text-gray-500"
          height="24"
          width="24"
          preserveAspectRatio="xMidYMid meet"
          version="1.1"
          x="0px"
          y="0px"
          enable-background="new 0 0 24 24"
        >
          <title>menu</title>
          <path
            fill="currentColor"
            d="M12,7c1.104,0,2-0.896,2-2c0-1.105-0.895-2-2-2c-1.104,0-2,0.894-2,2 C10,6.105,10.895,7,12,7z M12,9c-1.104,0-2,0.894-2,2c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2C13.999,9.895,13.104,9,12,9z M12,15 c-1.104,0-2,0.894-2,2c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2C13.999,15.894,13.104,15,12,15z"
          ></path>
        </svg>
      </span>
    </div>
  </header>

  <div class="chatting p-5">
    <span
      class="ml-5 gap-5 self bg-white justify-items-end items-center float-left clear-both cursor-pointer p-2 rounded-md"
      >hi
      <span class="time text-xs align-bottom ml-3 text-gray-400">3:39 pm</span>
    </span>
    <span
      class="mr-5 gap-5 self bg-[#d9fdd3] justify-items-end items-center float-right clear-both cursor-pointer p-2 rounded-md"
      >hi
      <span class="time text-xs align-bottom ml-3 text-gray-400">3:39 pm</span>
      <span
        class="material-symbols-outlined text-blue-500 mt-1 ml-2 align-bottom"
      >
        done_all
      </span>
    </span>

    <span
      class="ml-5 gap-5 self bg-white justify-items-end items-center float-left clear-both cursor-pointer p-2 rounded-md"
      >hi
      <span class="time text-xs align-bottom ml-3 text-gray-400">3:39 pm</span>
    </span>
    <span
      class="mr-5 gap-5 self bg-[#d9fdd3] justify-items-end items-center float-right clear-both cursor-pointer p-2 rounded-md"
      >how are you ?
      <span class="time text-xs align-bottom ml-3 text-gray-400">3:39 pm</span>
      <span
        class="material-symbols-outlined text-blue-500 mt-1 ml-2 align-bottom"
      >
        done_all
      </span>
    </span>

    <span
      class="ml-5 gap-5 self bg-white justify-items-end items-center float-left clear-both cursor-pointer p-2 rounded-md"
      >fine and u?
      <span class="time text-xs align-bottom ml-3 text-gray-400">3:39 pm</span>
    </span>
    <span
      class="mr-5 gap-5 self bg-[#d9fdd3] justify-items-end items-center float-right clear-both cursor-pointer p-2 rounded-md"
      >fine
      <span class="time text-xs align-bottom ml-3 text-gray-400">3:39 pm</span>
      <span
        class="material-symbols-outlined text-blue-500 mt-1 ml-2 align-bottom"
      >
        done_all
      </span>
    </span>

    <span
      class="ml-5 gap-5 self bg-white justify-items-end items-center float-left clear-both cursor-pointer p-2 rounded-md"
      >hello bro
      <span class="time text-xs align-bottom ml-3 text-gray-400">7:40 pm</span>
    </span>
  </div>
</section>
